.textButton {
  /* background-image: linear-gradient(167deg, #24ccb8 14%, #4880ff 114%); */
  background-color: #FAD6A5;
  background-image: linear-gradient(to bottom, #FAD6A5 0%, #EBC796 100%);
  width: 10rem;
  height: 2.25rem;
  margin: 0 0.5rem;
  border-radius: 1.5rem;
}

.textButtonText {
  color: #1A1A1A;
  font-size: 1rem;
  font-weight: bold;
}

.backButton {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
}