.container {
  display: flex;
  flex-direction: column;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.searchInput {
  color: white;
  font-size: 0.875rem;
  background-color: #4f4f4f;
  border-radius: 2rem;
  height: 2.5rem;
  padding: 0.25rem 1rem;
}

.searchInput input {
  padding: 0.5rem 0.5rem 0.4rem;
}

.sliders {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.videos {
  display: flex;
  flex-wrap: wrap;
}

.video {
  background-image: url(../resources/img/gif-0.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 7rem;
}