.container {
  display: flex;
  flex-direction: column;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.searchInput {
  color: white;
  font-size: 0.875rem;
  background-color: #4f4f4f;
  border-radius: 2rem;
  height: 2.5rem;
  padding: 0.25rem 1rem;
}

.sliders {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}