.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed {
  position: sticky;
  top: 0;
  background-color: #1A1A1A;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.searchInput {
  color: white;
  font-size: 0.875rem;
  background-color: #4f4f4f;
  border-radius: 2rem;
  height: 2.5rem;
  padding: 0.25rem 1rem;
}

.searchInput input {
  padding: 0.5rem 0.5rem 0.4rem;
}

.sliders {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  min-height: max-content;
}

.slider {
  display: flex;
  align-items: center;
}

.slider img {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 1.5rem;

}

.videos {
  display: flex;
  flex-wrap: wrap;
  min-height: max-content;
}

.video {
  /* background-image: url(../resources/img/giphy.gif); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 7rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1.25rem;
  min-height: max-content;
}

.iconBox {
  display: flex;
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.iconBox img {
  width: 100%;
  height: 100%;
}

.scrollable {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 20%;
}

.rail {
  height: 1px;
}

.flags {
  display: flex;
  padding: 0 1.25rem;
  min-height: max-content;
}

.val {
  color: white;
  font-size: 0.75rem;
  padding: 0 0.75rem;
}