.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1A1A1A;
}