.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2rem 1.25rem;
}

.title {
  font-weight: bold;
}

.logo {

}

.text {

}

.button {
  position: absolute;
  bottom: 1.5rem;
}