.container {
  background-color: #1A1A1A;
  color: #C9AE58;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  padding-bottom: 3.5rem;
}

.container.locked {
  height: 100%;
  overflow: hidden;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30%;
}

.slide1 .mainPage {
  transform: translateX(-100%);
  transition: transform 200ms ease-in-out;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}


.name {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 2.25;
}

.description {
  font-size: 0.75rem;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}

.tags {
  font-size: 0.75rem;
  line-height: 1.25;
}

.data {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  flex-shrink: 0;
}

.textData {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0 1.25rem;
}

.moreData {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
}

.params1 {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}

.params2 {
  color: #1A1A1A;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  background-color: #f1f2f6;
  background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
  flex-shrink: 0;
}

.params3 {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  flex-shrink: 0;
}

.params4 {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  width: -webkit-fill-available;
  flex-shrink: 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ndaBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.ndaMessage {

}

.logo {
  background-color: #f1f2f6;
  background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
  height: 3rem;
  min-height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}

.logo img {
  padding: 0.6rem 1.25rem;
  height: calc(100% - 1.2rem);
}

.category {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
}

.category img {
  height: 100%;
  width: 100%;
}

.team {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamPic {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.docs {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  flex-shrink: 0;
}

.docs button {
  margin-bottom: 1.25rem;
}

.tags span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags span img {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.4rem;
}

.vault {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  right: 1rem;
  top: 0;
}

.vault img {
  height: 100%;
  width: 100%;
}