.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  height: 3.5rem;
  min-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImg {
  background-image: url(../../../resources/img/vault.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20%;
  min-height: 20%;
}

.uploadArea {
  height: 35%;
  width: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #2c343a;
  border-style: dashed;
  border-radius: 0.5rem;
  margin: auto;
}

.uploadIcon {
  background-image: url(../../../resources/img/upload.svg);
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  margin: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.section {
  width: calc(100% - 2.5rem);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.docType {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.25rem;
  width: 1.25rem;
}

.pdf {
  background-image: url(../../../resources/img/pdf.svg);
}

.excel {
  background-image: url(../../../resources/img/excel.svg);
}

.docName {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.docTitle {
  font-size: 0.875rem;
}

.docDate {
  font-size: 0.75rem;
  opacity: 0.75;
}

.data {
  margin-top: 0.5rem;
}

.docData {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.docs {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 25%;
}

.progress {
  color: #FAD6A5;
}

.browsing {
  background-color: white;
  background-image: url(../../../resources/img/drive.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
}