.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImg {
  background-image: url(../../../resources/img/vault.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}